:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #dcdcda;
    --color-primary: #000000;
    --color-secondary: #444444;
    --color-thirdly: #595959;
    --color-accent: #0088ff;
}
.darkstyle {
    --color-bg-primary: #17171C;
    --color-bg-secondary: #333333;
    --color-primary: #ffffff;
    --color-secondary: #AEAEAE;
    --color-thirdly: #A2A2A2;
    ul li::before {
        background-image: url('images/unchecked-dark.svg');
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body {
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    transition: background-color 0.3s, color 0.3s;
}
@font-face {
    font-family: robotoRegular;
    src: url('Roboto/Roboto-Regular.ttf');
   }
@font-face {
    font-family: robotoMedium;
    src: url('Roboto/Roboto-Medium.ttf');
   }
.main {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    max-width: 700px;
}
h1 {
    color: var(--color-primary);
    font-size: 25px;
    margin: 0;
    font-family: robotoMedium;
    font-weight:  normal;
    margin-right: auto;
}
.top_h {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.back_arrow {
    fill: var(--color-primary);
    height: 25px;
    margin-right: auto;
    cursor: pointer;
}
.convertOptionH {
    color: var(--color-primary);
    font-size: 20px;  
    font-family: robotoRegular;
    cursor: pointer;
}
.convertOptionDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.convertOptionRow {
    display: flex;
    align-items: center;
    gap: 5px;
}
.convertDirectionTip {
    color: var(--color-thirdly);
    font-family: robotoRegular;
    font-size: 15px;
}
.convertOptionValueActive {
    color: var(--color-accent);
    font-size: 20px;  
    width: 100%;
    font-family: robotoRegular;
    border-radius: 15px;
    border: 1px solid var(--color-bg-secondary);
    padding: 10px;
    outline: none;
    background: none;
    margin-top: 10px;
}
.convertOptionValuePassive {
    color: var(--color-primary);
    font-size: 20px;  
    width: 100%;
    font-family: robotoRegular;
    border-radius: 15px;
    border: 1px solid var(--color-bg-secondary);
    padding: 10px;
    margin-top: 10px;
    background: none;
    outline: none;
}
.chooseTypeMenu {
    display: flex;
    flex-direction: column;
    background: var(--color-bg-primary);
    width: 80%;
    max-width: 560px;
    max-height: 70vh;
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chooseTypeMenu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.type {
    color: var(--color-primary);
    font-family: robotoRegular;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.type:hover {
    color: var(--color-accent);
}
.bgOfTypeMenu {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;
    user-select: none;
}
.reverseSvg {
    fill: none;
    stroke: var(--color-primary);
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}