:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #dcdcda;
    --color-primary: #000000;
    --color-secondary: #444444;
    --color-thirdly: #595959;
    --color-accent: #0088ff;
}
.darkstyle {
    --color-bg-primary: #17171C;
    --color-bg-secondary: #333333;
    --color-primary: #ffffff;
    --color-secondary: #AEAEAE;
    --color-thirdly: #A2A2A2;
}
body {
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
}
@font-face {
    font-family: robotoRegular;
    src: url('Roboto/Roboto-Regular.ttf');
   }
@font-face {
    font-family: robotoMedium;
    src: url('Roboto/Roboto-Medium.ttf');
   }
.main {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    max-width: 700px;
    padding-top: 10px;
}
h1 {
    color: var(--color-primary);
    font-size: 30px;
    margin: 0;
    font-family: robotoMedium;
    font-weight:  normal;
}
.converter_menu_item {
    color: var(--color-primary);
    font-family: robotoRegular;
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--color-bg-secondary);
    
}
.converter_menu_item:hover {
    background: var(--color-bg-secondary) 
}
.converter_menu_item_other:hover {
    background: var(--color-bg-secondary) 
}
.converter_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}
.converter_screen {
    width: 100%;
    display: none;
}

#info_fixed {
    width: 30px;
    height: 30px;
    margin-left: auto;
    stroke: var(--color-primary);
    fill: none;
}
.modal_box_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.modal_box_focus {
    width: 60%;
    max-width: 420px;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.modal_box_version {
    color: var(--color-primary);
    font-family: robotoRegular;
    font-size: 16px;
}
.modal_box_version_b {
    font-size: 16px;
    color: var(--color-primary);
    font-family: robotoMedium;
    margin-left: 5px;
}
.themeChangeDiv {
    display: flex; 
    align-items: center; 
    margin-top: 5px;
}
#modal_box_made {
    color:var(--color-primary);
    font-size: 18px;
    font-family: robotoRegular;
    margin-top: 10px;
}
.modal_box_theme_h {
    color: var(--color-primary);
    font-size: 20px;
    font-family: robotoRegular;
    margin-left: 5px;
}
.theme_change_btn {
    background: var(--color-bg-primary);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-primary);
    font-family: robotoMedium;
    cursor: pointer;
}
.langChangeDiv {
    display: flex; 
    align-items: center; 
    margin-top: 5px;
}
.lang_change_btn {
    background: var(--color-bg-primary);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-primary);
    font-family: robotoMedium;
    cursor: pointer;
}
@media(min-width: 700px) {
    body {
        justify-content: start;
    }
    .main {
        width: 30%;
        max-width: auto;
        border-right: 1px solid var(--color-bg-secondary);
        padding-right: 20px;
        height:100%
    }
    .converter_menu {
        max-height: 85vh;
        overflow-y: auto;
    }
    .converter_screen {
        margin-left: 30px;
        padding-top: 10px;
        width: auto;
    }
    .back_arrow {
        display: none;
    }

}
::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari */
  }
  
  body {
    -ms-overflow-style: none; /* Для IE, Edge */
    scrollbar-width: none; /* Для Firefox */
  }
  