:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #dcdcda;
    --color-primary: #000000;
    --color-secondary: #444444;
    --color-thirdly: #595959;
    --color-accent: #0088ff;
}
.darkstyle {
    --color-bg-primary: #161617;
    --color-bg-secondary: #212224;
    --color-primary: #ffffff;
    --color-secondary: #AEAEAE;
    --color-thirdly: #A2A2A2;
}
body {
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    transition: background-color 0.3s, color 0.3s;
}
@font-face {
    font-family: robotoRegular;
    src: url('Roboto/Roboto-Regular.ttf');
   }
@font-face {
    font-family: robotoLight;
    src: url('Roboto/Roboto-Light.ttf');
   }
@font-face {
    font-family: robotoMedium;
    src: url('Roboto/Roboto-Medium.ttf');
   }
.main {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
}
h1 {
    color: var(--color-primary);
    font-size: 30px;
    margin: 0;
    font-family: robotoMedium;
    font-weight:  normal;
}
.back_arrow {
    fill: var(--color-primary);
    height: 25px;
    margin-right: 10px;
    
}
.convertOptionH {
    color: var(--color-primary);
    font-size: 20px;  
}
.convertOption {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.convertOptionValue {
    color: var(--color-accent);
    font-size: 20px;  
    margin-left: auto;
}
.convertOptionValueBack {
    color: var(--color-primary);
    font-size: 20px;
    margin-left: auto;
}